:root {

    --fondo-top: #6ca1ca;
    --fondo-but: #36688f;

    --negro: #000000;
    --oscuro: #1e1e1e;
    --medio: #797979;
    --claro: #e4e4e4;
    --blanco: #ffffff;

    --bordes:#3d3d3d;

    --confirmar-oscuro: #008000c0;
    --confirmar-claro: #00b200c0;

}

body {
    background-image: linear-gradient(to bottom, var(--fondo-top), var(--fondo-but));
    height: 200dvh;
}
  

.navbar {
    background-color: #2196F3;
    padding: 20px 0px;
  }
  
  .navbar-brand {
    color: white;
    font-size: 24px;
  }
  
  .navbar-nav {
    float: right;
  }
  
  .navbar-nav li {
    margin-left: 20px;
  }
  
  .dropdown-toggle {
    background-color: #2196F3;
    border-radius: 0px;
    color: white;
    padding: 10px;
  }
  
  .dropdown-menu {
    background-color: #2196F3;
    color: white;
  }
  
  .dropdown-menu a {
    padding: 10px;
  }

  .nav-link {
    color: white;
  }
  
  .dropdown-menu a:hover {
    background-color: #2196F3;
  }

  /* Estilos para la tabla de productos */
#tabla-productos {
    width: 100%;
    overflow-x: auto; /* Agrega una barra de desplazamiento horizontal si es necesario */
    margin-top: 20px; /* Ajusta el margen superior según sea necesario */
}

/* Estilos para las celdas de la tabla */
#tabla-productos th,
#tabla-productos td {
    white-space: nowrap; /* Evita el desbordamiento de texto en celdas */
}



/* Ajusta los márgenes de la tabla */
.form {
    margin: 1rem;
    padding: 1rem 2rem;
    border: var(--bordes) 2px solid;
    border-radius: 1rem;
    background-color: var(--blanco);
    text-transform: capitalize;
    overflow: auto; /* Agrega una barra de desplazamiento si es necesario */
}


/* Inicio Estilos de perfil */
.contenedor_perfil {
    background-color: var(--claro);
    border: var(--bordes) 2px solid;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80rem;
    margin: 5rem auto;
    padding: 5rem;
}

.contenedor_perfil .foto {
    width: 20rem;
    height: 20rem;
    background-color: var(--blanco);
    border-radius: 50rem;
}

.contenedor_perfil .datos {
    width: 40rem;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedor_perfil .label {
    font-size: 1.2em;
}
/* Final Estilos de perfil */


/* Inicio de consultas */
.contenedor_consulta {
    background-color: var(--claro);
    border: var(--bordes) 2px solid;
    text-align: center;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    width: 80rem;
    margin: 1rem auto;
}

.consulta {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.form_consulta {
    width: 30rem;
    display: flex;
    flex-direction: column;
}
/* Final de consultas */

/* Inicio tablas de consulta */

.tabla {
    background-color: var(--blanco);
    border-radius: 1rem;
}

.tabla-top {
    background-color: var(--oscuro);
    border: var(--oscuro);
    color: var(--claro);
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

.top_left {
    border-top-left-radius: 0.8rem;
}

.top_right {
    border-top-right-radius: 0.8rem;
}

.resultado_consulta {
    padding: 2rem auto;
}

/* Final tablas de consulta */

.contenedor {
    background-color: var(--claro);
    border: var(--bordes) 2px solid;
    text-align: center;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    width: 40rem;
    margin: 1rem auto;
}

.contenedor_grande {
    width: 95%;
    border-radius: 1rem;
}

.title {
    font-weight: 900;
    font-size: 3rem;
    margin-top: 1rem;
    text-transform: uppercase;
}

.subtitle {
    font-weight: 900;
    font-size: 2rem;
    margin-top: 1rem;
    text-transform: uppercase;
}


/* Inicio de formularios */
.form {
    margin: 1rem;
    padding: 1rem 2rem;
    border: var(--bordes) 2px solid;
    border-radius: 1rem;
    background-color: var(--blanco);
    text-transform: capitalize;

}

.dato {
    display: flex;
    flex-direction: column;
    text-transform: inherit;
}

.dato_txt {
    font-size: 1.2rem;
}

.dato_input {
    border: var(--bordes) 2px solid;
    border-radius: 0.5rem;
    text-align: center;
}

/* Final de formularios */

/* Inicio de Botones */

.boton-guardar {
    background-color: var(--confirmar-oscuro);
    color: var(--claro);
    padding: 0.5rem 1rem;
    border: var(--bordes) 2px solid;
    border-radius: 0.5rem;
    width: 100%;
}

.boton-guardar:hover {
    background-color: var(--confirmar-claro);
    color: var(--oscuro);
}


/* Final de Botones */

.test {
    background-color: red;
    margin: 10rem;
    padding: 10rem;
}